<IfModule mod_rewrite.c>
    RewriteEngine On

    # Allow direct access to existing files and folders
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    RewriteRule ^ index.php [L]
</IfModule>
